---

import { LinkButton } from '@astrojs/starlight/components';

const { data } = Astro.locals.starlightRoute.entry;
const { title = data.title, actions = [] } = data.hero || {};


---

<div class="hero">	
    <figure class="left-yellow-cir top-anime poa"><svg width="1413" height="1413" viewBox="0 0 1413 1413" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="706.5" cy="706.5" r="706.5" fill="url(#paint0_radial_3992_7422)" fill-opacity="0.85" />
  <defs>
    <radialGradient id="paint0_radial_3992_7422" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(706.5 706.5) rotate(90) scale(706.5)">
      <stop offset="0.315" stop-color="#FFF6EB" />
      <stop offset="1" stop-color="white" stop-opacity="0" />
    </radialGradient>
  </defs>
</svg></figure>
    <figure class="right-green-cir top-anime poa"><svg width="1001" height="1001" viewBox="0 0 1001 1001" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="500.5" cy="500.5" r="500.5" fill="url(#paint0_radial_3992_7426)" fill-opacity="0.3" />
  <defs>
    <radialGradient id="paint0_radial_3992_7426" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(500.5 500.5) rotate(49.8704) scale(628.515)">
      <stop offset="0.0447277" stop-color="#32DEAE" />
      <stop offset="1" stop-color="white" stop-opacity="0" />
    </radialGradient>
  </defs>
</svg></figure>
	<h1 data-page-title set:html={title} />
	<div class="hero-description">{data.description}</div>
            <div class="home-three-wrap fww">
                <div class="home-three-item shadow">
                    <figure class="green df"><svg width="43" height="50" viewBox="0 0 43 50" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.2817 0V49.2141C21.1804 49.2141 21.0791 49.2019 20.9802 49.1776C14.9574 47.6961 9.97416 44.4264 6.03035 39.3684C-0.0829428 31.528 -0.0384856 22.6576 0.00804387 13.3739C0.0121043 12.5636 0.0161812 11.7502 0.0161812 10.9341C0.0161812 8.65164 1.45075 6.61976 3.59029 5.87177L19.5395 0.295904C20.1037 0.0986347 20.6927 0 21.2817 0Z" fill="white" /><path opacity="0.5" d="M21.2822 49.2141V0C21.8712 0 22.4602 0.0986354 23.0245 0.295905L38.9737 5.87177C41.1132 6.61976 42.5478 8.65164 42.5478 10.9341C42.5478 11.7502 42.5519 12.5636 42.5559 13.3739C42.6025 22.6576 42.6469 31.528 36.5336 39.3684C32.5898 44.4264 27.6065 47.6961 21.5838 49.1776C21.4849 49.2019 21.3835 49.2141 21.2822 49.2141Z" fill="white" /><ellipse cx="21.3985" cy="24.6077" rx="10.6983" ry="10.6983" fill="#219780" /><path d="M20.1529 29.4706C19.7968 29.4706 19.4407 29.3331 19.1721 29.0645L15.3862 25.2786C14.8426 24.7351 14.8426 23.8604 15.3862 23.3169C15.9297 22.7734 16.8043 22.7734 17.3478 23.3169L20.1529 26.122L25.5381 20.7367C26.0816 20.1932 26.9563 20.1932 27.4998 20.7367C28.0433 21.2803 28.0433 22.1549 27.4998 22.6984L21.1337 29.0645C20.8651 29.3394 20.509 29.4706 20.1529 29.4706Z" fill="white" /></svg></figure>
                    <h3>Governor</h3>
                    <p>An enterprise AI registry that <strong>automates risk management,</strong> policy implementation, audit readiness, and model card generation.</p>
                    <LinkButton href="/guides/example/">Get started</LinkButton>
                </div>
        </div>
</div>

<style>
	@layer starlight.core {
		.hero {
			display: flex;
            flex-direction: column;
		}
		.hero > img,
		.hero > .hero-html {
			object-fit: contain;
			width: min(70%, 20rem);
			height: auto;
			margin-inline: auto;
		}

		.stack {
			flex-direction: column;
			gap: clamp(1.5rem, calc(1.5rem + 1vw), 2rem);
			text-align: center;
		}

		.copy {
			flex-direction: column;
			gap: 1rem;
			align-items: center;
		}

		.copy > * {
			max-width: 50ch;
		}

		h1 {
			font-size: clamp(var(--sl-text-3xl), calc(0.25rem + 5vw), var(--sl-text-6xl));
			line-height: var(--sl-line-height-headings);
			font-weight: 600;
			color: var(--sl-color-white);
		}

		.tagline {
			font-size: clamp(var(--sl-text-base), calc(0.0625rem + 2vw), var(--sl-text-xl));
			color: var(--sl-color-gray-2);
		}

		.actions {
			gap: 1rem 2rem;
			flex-wrap: wrap;
			justify-content: center;
		}

		@media (min-width: 50rem) {
			.hero {
				grid-template-columns: 7fr 4fr;
				gap: 3%;
				padding-block: clamp(2.5rem, calc(1rem + 10vmin), 10rem);
			}

			.hero > img,
			.hero > .hero-html {
				order: 2;
				width: min(100%, 25rem);
			}

			.stack {
				text-align: start;
			}

			.copy {
				align-items: flex-start;
			}

			.actions {
				justify-content: flex-start;
			}
		}
	}
</style>